
<nav>
  <a routerLink="/list"><button class="btn btn-primary m-1 ">list</button></a>
  <a routerLink="/details"><button class="btn btn-primary m-1">details</button></a>
  <a routerLink="/forms"><button class="btn btn-primary m-1">TDF</button></a>
  <a routerLink="/reactiveForms"><button class="btn btn-primary m-1">Reactive Forms</button></a>
  <a routerLink="/myform"><button class="btn btn-primary m-1">my form</button></a>
  <a routerLink="/angular"><button class="btn btn-primary m-1">angular</button></a>
  <a routerLink="/promise"><button class="btn btn-primary m-1">promise</button></a>
  <a routerLink="/observable"><button class="btn btn-primary m-1">observable</button></a>
  <a routerLink="/bootstrap"><button class="btn btn-primary m-1">Bootstrap</button></a>
</nav>
<div>
  <app-test [myNumber]="counter"></app-test>
  <button class="btn btn-primary" (click)="decrement()">minus</button>
  <button class="btn btn-primary" (click)="increment()">plus</button>
</div>

<router-outlet></router-outlet>
